<nav class="navbar navbar-expand-lg fixed-top bg-custom">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img class="logo"
                src="https://regbook.sia.co.th/assets/img/product/SIALogo.jpg" alt="">
        </a>
        <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
        </div>
    </div>
</nav>