<div class="container-xxl">
    <div class="registration-result mt-5">
        <div class="registration-title registration-container hide-mobile">
            <p class="small-col">No.</p>
            <p class="small-col">ทะเบียน</p>
            <p>จังหวัด</p>
            <p>เลขตัวถัง</p>
            <p>วันที่ประมูล</p>
            <p class="small-col">ลำดับ</p>
            <p>ยี่ห้อรถ</p>
            <p class="big-col">รุ่น</p>
            <p>สถานที่ประมูล</p>
            <p>สถานะเล่มทะเบียน</p>
        </div>
        <div id="s_results">

        </div>
    </div>
</div>