<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Hans McMurdy">
    <title>Bootstrap</title>
    <meta name="title" content="#JavaScriptFirst">
    <meta name="description"
        content="Learn how to code with #JavaScriptFirst: https://github.com/HansUXdev/JavaScript-First">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <link href="/css/custom-datatable.css" rel="stylesheet">
    <!-- Favicons -->

    <meta name="theme-color" content="#7952b3">

</head>

<body class="bg-light">
    <section class="header">
        <nav class="navbar navbar-expand-lg fixed-top bg-custom">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img class="logo"
                        src="https://regbook.sia.co.th/assets/img/product/SIALogo.jpg" alt="">
                </a>
                <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                </div>
            </div>
        </nav>
    </section>

    <section class="banner">
        <div class="img banner-top ">
            <img class="images-banner w-100" src="../assets/images/banner_new.png" alt="car">
        </div>
        <div class="container">
            <form class="search-filter" method="get">
                <div class="row mt-5">
                    <div class="col col-sm-12 col-md-8 col-lg-8 col-xl-8 mx-auto">
                        <div class="input-group">
                            <input class="form-control border-end-0 border rounded-pill" type="search" value=""
                                placeholder="กรุณาพิมพ์ เลขทะเบียนรถ หรือ เลขตัวถังของรถ ที่ต้องการค้นหา"
                                id="example-search-input">
                            <button type="button"
                                class="btn btn-success border-end-0 border rounded-pill ml-3 btn-lg">ค้นหาข้อมูล
                            </button>
                        </div>
                        <div class="text mt-2 text-left">
                            <span style="color:red; font-weight: 100"> * หมายเหตุ กรุณาระบุ ทะเบียนรถ หรือ
                                เลขตัวถังของรถ ให้ครบถ้วน ตัวอย่าง 1กก 1111</span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <section class="content">
        <div class="container">
            <div class="registration-result mt-5">
                <div class="registration-title registration-col hide-mobile">
                    <p class="small-col">No.</p>
                    <p class="small-col">ทะเบียน</p>
                    <p>จังหวัด</p>
                    <p>เลขตัวถัง</p>
                    <p>วันที่ประมูล</p>
                    <p class="small-col">ลำดับ</p>
                    <p>ยี่ห้อรถ</p>
                    <p class="big-col">รุ่น</p>
                    <p>สถานที่ประมูล</p>
                    <p>สถานะเล่มทะเบียน</p>
                </div>
                <div id="s_results">
                    <div class="registration-col">
                        <div class="hide-mobile">
                            <p class="small-col">1</p>
                            <p class="small-col">2ฒล-2128</p>
                            <p>กรุงเทพมหานคร</p>
                            <p>1234567890</p>
                            <p>17/01/2567</p>
                            <p class="small-col">4-8</p>
                            <p>CHEVROLET</p>
                            <p class="big-col">COLORADO X-CAB</p>
                            <p>นนทบุรี</p>
                            <p>พร้อมรับเล่ม</p>
                        </div>

                        <!-- desktop -->
                        <div class="hide-desktop">
                            <div class="title">No.</div>
                            <div class="desc">1</div>
                            <div class="title">ทะเบียน</div>
                            <div class="desc">2ฒล-2128</div>
                            <div class="title">จังหวัด</div>
                            <div class="desc">กรุงเทพมหานคร</div>
                            <div class="title">เลขตัวถัง</div>
                            <div class="desc">12345678901112</div>
                            <div class="title">วันที่ประมูล</div>
                            <div class="desc">17/01/2567</div>
                            <div class="title">ลำดับ</div>
                            <div class="desc">4-8</div>
                            <div class="title">ยี่ห้อรถ</div>
                            <div class="desc">CHEVROLET</div>
                            <div class="title">รุ่น</div>
                            <div class="desc">COLORADO X-CAB</div>
                            <div class="title">สถานที่ประมูล</div>
                            <div class="desc">นนทบุรี</div>
                            <div class="title">สถานะเล่มทะเบียน</div>
                            <div class="desc">-</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
 {
  "results": [
    {
      "no": 1,
      "license_plate": "2ฒล-2128",
      "province": "กรุงเทพมหานคร",
      "chassis_number": "1234567890",
      "auction_date": "17/01/2567",
      "sequence": "4-8",
      "brand": "CHEVROLET",
      "model": "COLORADO X-CAB",
      "auction_location": "นนทบุรี",
      "registration_status": "พร้อมรับเล่ม"
    }
  ]
}

// Assuming jsonData is the JSON structure you've created

document.addEventListener("DOMContentLoaded", function () {
  var resultsContainer = document.getElementById("s_results");

  jsonData.results.forEach(function (result) {
    var mobileContent = `
      <div class="hide-mobile">
        <p class="small-col">${result.no}</p>
        <p class="small-col">${result.license_plate}</p>
        <p>${result.province}</p>
        <p>${result.chassis_number}</p>
        <p>${result.auction_date}</p>
        <p class="small-col">${result.sequence}</p>
        <p>${result.brand}</p>
        <p class="big-col">${result.model}</p>
        <p>${result.auction_location}</p>
        <p>${result.registration_status}</p>
      </div>
    `;

    var desktopContent = `
      <div class="hide-desktop">
        <div class="title">No.</div>
        <div class="desc">${result.no}</div>
        <!-- Add other properties accordingly -->
      </div>
    `;

    var registrationCol = document.createElement("div");
    registrationCol.className = "registration-col";
    registrationCol.innerHTML = mobileContent + desktopContent;

    resultsContainer.appendChild(registrationCol);
  });
});

    </script>
</body>

</html>