<h5>ค้นหาเล่มทะเบียนรถ</h5>
<div class="card">
    <div class="card-header">
        <button class="btn btn-success" id="addBtn">นำข้อมูลเข้า</button>
    </div>
    <div class="card-body">
        <table id="myTable" class="table table-striped display">
            <thead>
                <tr>
                    <th>No</th>
                    <th>ทะเบียน</th>
                    <th>จังหวัด</th>
                    <th>เลขตัวถัง</th>
                    <th>รุ่น</th>
                    <th>ยี่ห้อ</th>
                    <th>ชื่อผู้ประมูล</th>
                    <th>สถานะ</th>
                    <th>แก้ไขโดย</th>
                    <th>แก้ไข</th>
                    <th>ดู</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal Add-->
<div class="modal fade" id="addFileModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addFileModal">นำเข้าข้อมูล</h5>
            </div>
            <div class="modal-body">
                <form id="form_import_data_excel" enctype="multipart/form-data">
                    <h3>ไฟล์ Excel</h3>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="fileExcel_text" readonly>
                        <input type="file" class="form-control" name="fileExcel" id="fileExcel" accept=""
                            aria-describedby="basic-addon1" style="display: none;">
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary btn-rounded btn-second choose_file_excel"
                                type="button" id="choose_file_excel">เลือกไฟล์</button>
                            <button class="btn btn-outline-danger btn-rounded btn-second" type="button"
                                id="">ล้างหน้าจอ</button>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="close_modal">ปิด</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal edit-->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">แก้ไขข้อมูล</h5>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="auction_name" class="col-form-label">ชื่อ:</label>
                        <input type="text" class="form-control" id="auction_name" name="auction_name" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="address-sending" class="col-form-label">ที่อยู่จัดส่งเล่มทะเบียน:</label>
                        <textarea class="form-control" id="address-sending" name="address-sending" disabled></textarea>
                    </div>
                    <div class="mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">เพิ่มที่อยู่ใหม่</label>
                        </div>
                    </div>
                    <div class="mb-3" id="newAddressSection" style="display:none;">
                        <label for="address-new-text" class="col-form-label">ที่อยู่จัดส่งเล่มทะเบียน(ใหม่):</label>
                        <textarea class="form-control" id="address-new-text" name="address-new-text"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">หมายเหตุ:</label>
                        <textarea class="form-control" id="message-text" name="message-text"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="date-receive" class="col-form-label">วันที่รับเล่ม</label>
                        <input type="date" class="form-control" id="date-receive" name="date-receive">
                    </div>
                    <div class="mb-3">
                        <label for="date-sending-transport" class="col-form-label">วันที่ส่งเล่มให้ขนส่ง</label>
                        <input type="date" class="form-control" id="date-sending-transport"
                            name="date-sending-transport">
                    </div>
                    <div class="mb-3">
                        <label for="date-receive-transport" class="col-form-label">วันที่รับเล่มจากขนส่ง</label>
                        <input type="date" class="form-control" id="date-receive-transport"
                            name="date-receive-transport">
                    </div>
                    <div class="mb-3">
                        <label for="date-receive-transport" class="col-form-label">วันที่ลูกค้ามารับเล่ม</label>
                        <input type="date" class="form-control" id="date-receive-transport"
                            name="date-receive-transport">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary modal-close">ปิด</button>
                <button type="button" class="btn btn-primary btn-save">บันทึกข้อมูล</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal view-->
<div class="modal fade" id="viewModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">แก้ไขข้อมูล</h5>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="address-sending" class="col-form-label">Tax-Invoice:</label>
                            <input type="date" class="form-control" id="date-sending-transport"
                                name="date-sending-transport">
                        </div>
                        <div class="col-md-6">
                            <label for="address-sending" class="col-form-label">ที่อยู่:</label>
                            <input type="date" class="form-control" id="date-sending-transport"
                                name="date-sending-transport">
                        </div>
                        <div class="col-md-6">
                            <label for="address-sending" class="col-form-label">หมายเหตุ:</label>
                            <input type="date" class="form-control" id="date-sending-transport"
                                name="date-sending-transport">
                        </div>
                        <div class="col-md-6">
                            <label for="address-sending" class="col-form-label">ที่อยู่ใหม่:</label>
                            <input type="date" class="form-control" id="date-sending-transport"
                                name="date-sending-transport">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary modal-close">ปิด</button>
                <button type="button" class="btn btn-primary btn-save">บันทึกข้อมูล</button>
            </div>
        </div>
    </div>
</div>

<script src="/assets/jquery/jquery.min.js"></script>
<script src="/js/get_datatable.js"></script>